<?xml version="1.0" encoding="utf-8"?>
<!-- 极简课表 - AndroidManifest.xml -->
<!-- 无需任何权限（使用 SAF 进行文件导入导出，无需存储权限） -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".ClassScheduleApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="极简课表"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClassSchedule"
        tools:targetApi="34">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ClassSchedule"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
